:root{
    --fontColor1: #fff;
    --fontColor2: #000;
    --fontColor3: #030436;
    --bgColor1: #2df0f0;
    --bgColor2: #f1e9e9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bgColor1);
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

/* responsividade */
@media(max-width:500px){
    .container{
        justify-content: start;
        padding: 15px;
    }
}